.subscription
  .month_to_month
    %h3 Month-to-Month
    %p $24.95/month
    .btn
      %p= link_to "Sign up now!", ''
      
      
  .three_month
    .most_popular
      %h4.most_popular Most Popular Plan
      .btn
        %p= link_to "Sign up now!", ''
      
      %h3 3 Month Subscription
      %ul
        %li Important Feature
        %li Important Feature
        %li.last Important Feature
          
      %p $22.35/month
  
  .six_month
    %h3 6 Month Subscription
          
    %p $20.15/month
    .btn
      %p= link_to "Sign up now!", ''
    
  .plans_include
    %p All Plans Include: