.subscription
  .month_to_month
    %h3 Month-to-Month
    .cost
      %p $20.95/month
      .btn
        %p= link_to "Sign up now!", new_subscription_path(:plan_id => 6)
      
      
  .three_month
    .most_popular
      %h4.most_popular Most Popular Plan     
      %h3 3 Month Subscription
      %ul
      .cost    
        %p $19.95/month ($59.85)
        .btn.most_popular
          %p= link_to "Sign up now!", new_subscription_path(:plan_id => 5)
  
  .six_month
    %h3 6 Month Subscription
    
    .cost      
      %p $18.95/month ($113.70)
      .btn
        %p= link_to "Sign up now!", new_subscription_path(:plan_id => 4)
    
  .plans_include
    %h1 All Plans Include:
    %ul
      %li 12 oz of different AMAZING coffee (whole bean or ground)
      %li Story of the farmer and the bean
      %li Brewing tips to improve your coffee drinking experience
      %li Shipping and Handling Included
      %li 
        %b A gift notification will be sent within 24 hours unless otherwise notified.
    %p *To receive coffee for January subscribe on or before January 7th.