.subscription
  .month_to_month
    %h3 Month-to-Month
    .cost
      %p $24.95/month
      .btn
        %p= link_to "Sign up now!", new_subscription_path(:plan_id => 1)
      
      
  .three_month
    .most_popular
      %h4.most_popular Most Popular Plan     
      %h3 3 Month Subscription
      %ul
        %li Important Feature
        %li Important Feature
        %li.last Important Feature
      .cost    
        %p $22.35/month
        .btn.most_popular
          %p= link_to "Sign up now!", new_subscription_path(:plan_id => 2)
  
  .six_month
    %h3 6 Month Subscription
    
    .cost      
      %p $20.15/month
      .btn
        %p= link_to "Sign up now!", new_subscription_path(:plan_id => 3)
    
  .plans_include
    %p All Plans Include: