.public

  .welcome
    background: #f9be44
    background: -moz-radial-gradient(center, ellipse cover, #f9be44 0%, #e79c3c 100%)
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9be44), color-stop(100%,#e79c3c))
    background: -webkit-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: -o-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: -ms-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: radial-gradient(ellipse at center, #f9be44 0%,#e79c3c 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9be44', endColorstr='#e79c3c',GradientType=1 )
    padding: 20px
    min-height: 295px
    
    .right
      float: right
      width: 550px
      height: 240px
      clear: both
      padding: 0
      margin: 0
      display: inline
      
      p.price
        color: #A43C21
        font-family: helvetica
        text-align: center
        font-size: 170%
        padding: 0
          
      h2
        font-size: 270%
        text-align: center
        color: #fff
        font-family: helvetica
        float: right
        padding-bottom: 20px
        margin: 0
      
      .subscribe, .gift
        display: inline
        padding: 5px 15px
        float: right
        width: 150px
        margin-right: 100px
        margin-top: -10px
        background: #dd5a43
        background: -moz-linear-gradient(top,  #dd5a43 15%, #bc321a 50%, #aa4400 75%, #9c1c02 89%)
        background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#dd5a43), color-stop(50%,#bc321a), color-stop(75%,#aa4400), color-stop(89%,#9c1c02))
        background: -webkit-linear-gradient(top,  #dd5a43 15%,#bc321a 50%,#aa4400 75%,#9c1c02 89%)
        background: -o-linear-gradient(top,  #dd5a43 15%,#bc321a 50%,#aa4400 75%,#9c1c02 89%)
        background: -ms-linear-gradient(top,  #dd5a43 15%,#bc321a 50%,#aa4400 75%,#9c1c02 89%)
        background: linear-gradient(to bottom,  #dd5a43 15%,#bc321a 50%,#aa4400 75%,#9c1c02 89%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd5a43', endColorstr='#9c1c02',GradientType=0 )
        border-radius: 8px
        ul
          list-style-type: none
          margin: 0
          padding: 0
          li
            a
              clear: both
              color: white
              font-family: helvetica
              display: block
              text-align: center
              padding: 7px
              font-size: 120%
              text-decoration: none
        
        &:hover
          background: #9c1c02
          background: -moz-linear-gradient(top,  #9c1c02 12%, #dd5a43 88%)
          background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#9c1c02), color-stop(88%,#dd5a43))
          background: -webkit-linear-gradient(top,  #9c1c02 12%,#dd5a43 88%)
          background: -o-linear-gradient(top,  #9c1c02 12%,#dd5a43 88%)
          background: -ms-linear-gradient(top,  #9c1c02 12%,#dd5a43 88%)
          background: linear-gradient(to bottom,  #9c1c02 12%,#dd5a43 88%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1c02', endColorstr='#dd5a43',GradientType=0 )
        
      .subscribe
        margin-right: 15px
       
      .gift
        margin-left: 0

    .left
      height: 240px
      width: 350px
      float: left
      background: #fff
      display: inline
      
    .bottom
      width: 960px
      height: 60px
      float: right
  
      p
        clear: both
        color: #fff
        font-family: helvetica
        display: block
        text-align: center
        margin-left: 35px
        font-size: 105%
      
  .coffee-of-the-month
    background: #fff
    height: 400px
    width: 480px
    float: left
    display: inline
    margin-top: 30px
    margin-bottom: 30px
    h3
      font-family: chalkduster
      font-size: 220%
      text-align: center
        
  .blog-activity
    height: 400px
    width: 480px
    display: inline
    float: right
    margin-top: 20px
    margin-bottom: 10px
    
    h2
      font-family: avenir
      margin-left: 30px
      color: #A32921
      
    .title
      margin-left: 30px
      font-weight: bold
      font-family: helvetica
       
    .meta_data
      font-family: helvetica
      margin-bottom: 10px
      margin-left: 30px
      border-bottom-style: solid
      border-bottom-width: thin
      color: gray
      
    ul
      list-style-type: none
      float: right
      li
        a
          color: #A32921
          font-family: helvetica
  
    .daily-brewing-tip
      height: auto
      width: 450px
      padding-bottom: 60px
      background: #A5BD7D
      margin-left: 30px
      margin-bottom: 30px
      margin-top: 65px
      overflow: auto
      h2
        margin-left: 20px
        font-famiy: helvetica
        color: white
  
  .about1
    background: #F3FBC0
    clear: both
    display: block
    width: 960px
    height: 140px
    border-radius: 10px
    h2, p
      color: #7C545D
      float: right
      font-family: helvetica
      margin: 0 20px
      display: inline
      width: 600px
    p
      font-size: .9em
    h2
      margin-top: 10px
      margin-bottom: 10px
    
  .about2
    background: #F3FBC0
    margin-top: 10px
    width: 960px
    height: 140px
    display: block
    border-radius: 10px
    h2, p
      color: #7C545D
      float: left
      font-family: helvetica
      margin: 0 20px
      width: 600px
    p 
      font-size: .9em
    h2
      margin-top: 10px
      margin-bottom: 10px
      