.public

  .welcome
    background: #f9be44
    background: -moz-radial-gradient(center, ellipse cover, #f9be44 0%, #e79c3c 100%)
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9be44), color-stop(100%,#e79c3c))
    background: -webkit-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: -o-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: -ms-radial-gradient(center, ellipse cover, #f9be44 0%,#e79c3c 100%)
    background: radial-gradient(ellipse at center, #f9be44 0%,#e79c3c 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9be44', endColorstr='#e79c3c',GradientType=1 )
    padding: 20px
    min-height: 295px