.subscription
  padding-top: 70px
  font-family: helvetica
 
  .month_to_month, .six_month
    height: 310px
    width: 312px
    float: left
    background: #fff
    text-align: center
    font-weight: 300
    color: #5C5C33
    box-shadow: 3px 3px 3px #888
  
    h3, p
      margin-right: 20px
      margin-left: 20px
    
    h3 
      border-bottom-style: solid
      border-bottom-width: thin
      border-bottom-color: #D6D6C2
      font-size: 16pt
      font-weight: 400
      line-height: 30px
      color: #757547
    
    p
      font-size: 16pt
      font-weight: 600
     
    .btn
      p
        a
          text-decoration: none
          font-weight: 500
          color: #fff
          padding: 10px 35px
          border-radius: 5px
          box-shadow: 3px 3px 3px #888
          background: #ffbd67
          background: -moz-linear-gradient(top,  #ffbd67 25%, #fd9815 100%)
          background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#ffbd67), color-stop(100%,#fd9815))
          background: -webkit-linear-gradient(top,  #ffbd67 25%,#fd9815 100%)
          background: -o-linear-gradient(top,  #ffbd67 25%,#fd9815 100%)
          background: -ms-linear-gradient(top,  #ffbd67 25%,#fd9815 100%)
          background: linear-gradient(to bottom,  #ffbd67 25%,#fd9815 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbd67', endColorstr='#fd9815',GradientType=0 )
      
  .three_month
    height: 394px
    width: 312px
    background: #F5F5F0
    box-shadow: 3px 3px 3px #888
    float: left
    margin-top: -60px
    margin-bottom: 50px
    text-align: center
  
    .most_popular
      h4.most_popular
      .btn
        p
          a
            text-decoration: none
            color: #FFFFA3
            padding: 10px 35px
            border-radius: 5px
            background: -moz-linear-gradient(top,  rgba(34,92,184,0.95) 0%, rgba(34,92,184,0.95) 45%, rgba(34,92,184,1) 98%, rgba(34,92,184,1) 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,92,184,0.95)), color-stop(45%,rgba(34,92,184,0.95)), color-stop(98%,rgba(34,92,184,1)), color-stop(100%,rgba(34,92,184,1)))
            background: -webkit-linear-gradient(top,  rgba(34,92,184,0.95) 0%,rgba(34,92,184,0.95) 45%,rgba(34,92,184,1) 98%,rgba(34,92,184,1) 100%)
            background: -o-linear-gradient(top,  rgba(34,92,184,0.95) 0%,rgba(34,92,184,0.95) 45%,rgba(34,92,184,1) 98%,rgba(34,92,184,1) 100%)
            background: -ms-linear-gradient(top,  rgba(34,92,184,0.95) 0%,rgba(34,92,184,0.95) 45%,rgba(34,92,184,1) 98%,rgba(34,92,184,1) 100%)
            background: linear-gradient(to bottom,  rgba(34,92,184,0.95) 0%,rgba(34,92,184,0.95) 45%,rgba(34,92,184,1) 98%,rgba(34,92,184,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2225cb8', endColorstr='#225cb8',GradientType=0 )
            
      
      h3
      ul
        list-style-type: none
        li
          line-height: 40px
          border-bottom-style: solid
          border-bottom-width: thin
          border-bottom-color: #D6D6C2
          color: #5C5C33
        li.last
          
      p 
      
  .six_month
    h3 
    p 
    .btn
      p
        a
        
  .plans_include 
    background: #F3FBC0
    border-radius: 5px
    width: 960px
    height: 145px
    margin-bottom: 20px
    clear: both
        
    p 
      font-weight: 400
      font-size: 20pt
      color: #5C5C33
      margin-left: 30px
      padding-top: 40px
  
    