.public
  .welcome
    .right
      %h2 Receive coffee at your door every month!
      %p.price from just $20.95 including shipping
      .gift
        %ul
          %li= link_to "Gift Now", ''
      .subscribe
        %ul
          %li= link_to "Subscribe Now", ''
    .left
    .bottom
      %p We support local agriculture globally by working only with artisan coffee roasters who have direct relationships with the farmers. We'll bring you the story behind the coffee you are drinking for you to get to know the farmers, too.
  
  .coffee-of-the-month
    %h3 October's Coffee
  
  .blog-activity
    %h2 RECENT BLOG POSTS
    .post
      .title We're Live!
      .meta_data Posted by User on Date
      .title We're Live!
      .meta_data Posted by User on Date    
      .title We're Live!
      .meta_data Posted by User on Date
    %ul
      %li= link_to "[Read More]", ''
          
    .daily-brewing-tip
      %h2 Today's Brewing Tip
  
  .about1
    %h2 ABOUT OUR COFFEE
    %p We provide unique specialty coffees. The roasters travel to the best coffee growing regions in the world to select their beans. They share our vision and we're proud to showcase their coffee. We strive to provide you a variety of different beans from different raosters to broaden your experience and excite your taste buds.
  
  .about2
    %h2 ABOUT OUR COFFEE
    %p We provide unique specialty coffees. The roasters travel to the best coffee growing regions in the world to select their beans. They share our vision and we're proud to showcase their coffee. We strive to provide you a variety of different beans from different raosters to broaden your experience and excite your taste buds.
    